<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pneumonia Prediction App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pneumonia Prediction</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="image-upload">
            <label for="image-file">Select X-ray Image (JPEG, PNG):</label>
            <input type="file" onchange="previewImage(event)" id="image-file" name="image" accept="image/jpeg,image/png" required>
        </div>

        <img id="preview" src="#" alt="Preview Image" style="height: 100px; width: 100px; display: none;">
        <br>
        <button type="submit">Predict</button>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </form>

    
    <div class="prediction-box">
        <h2>Prediction Results</h2>
        {% if filename %}
            <p><b>Filename:</b> {{ filename_display }}</p>
            <p><b>Predicted Class:</b> {{ class_names }}</p>
            <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Uploaded Image" style="height: -webkit-fill-available;
            width: -webkit-fill-available;" >
            <ul>
                <li><b>Probability of Normal:</b> {{normal_proba}} %</li>
                <li><b>Probability of Pneumonia:</b> {{pneumonia_proba}} %</li>
            </ul>
        {% endif %}
    </div>


    <script>
        function previewImage(event) {
            console.log('previewImage');
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function() {
                const previewImage = document.getElementById('preview');
                previewImage.src = reader.result;
                previewImage.style.display = 'block';
            };
            console.log('previewImage1');
            if (file) {
                console.log('previewImage2');
                reader.readAsDataURL(file);
            }
        }
    </script>

        
</body>
</html>
